<div class="header-container">
  <img class="header-img" [src]="headerPic" alt="filthy dog" />
  <h1 routerLink="/" routerLinkActive="active">{{ title }}</h1>
  <div id="easteregg">
    <img class="header-img" [src]="headerPic" alt="filthy dog" /><img
      class="hiddenimg"
      [src]="headerPic"
      alt="filthy dog"
    />
  </div>
  <div class="connexion-link" (click)="handleModal()">
    Connexion / Inscription
  </div>
</div>

<ul class="navbar-container">
  <li routerLink="/bestgifts" routerLinkActive="active">Meilleurs cadeaux</li>
  <li routerLink="/newgifts" routerLinkActive="active">Nouveaux cadeaux</li>
  <li routerLink="/addagift" routerLinkActive="active">Proposer un cadeau</li>
</ul>

<div class="modal" [ngStyle]="{ display: displayModal ? 'block' : 'none' }">
  <div class="modal-content">
    <div class="close-modal" (click)="handleModal()">Fermer</div>
    <div class="modal-content2">
      <div class="modal-title">Connexion</div>
      <form>
        <div class="form-modal">
          <label for="email">Email</label>
          <input name="email" type="email" required />
        </div>
        <div class="form-modal">
          <label for="price">Mot de passe</label>
          <input name="password" type="password" required />
        </div>
        <button type="submit">Se connecter</button>
      </form>
      <div class="modal-title">Pas encore inscrit?</div>
      <form>
        <div class="form-modal">
          <label for="email">Email</label>
          <input #email name="email" type="email" required />
        </div>
        <div class="form-modal">
          <label for="pseudo">Pseudo</label>
          <input #pseudo name="pseudo" type="text" required />
        </div>
        <div class="form-modal">
          <label for="password">Mot de passe</label>
          <input #password name="password" type="password" required />
        </div>
        <button class="button" type="submit" (click)="addUser(email.value, pseudo.value, password.value); email.value=''; pseudo.value=''; password.value=''">Créer son compte</button>
      </form>
    </div>
  </div>
</div>
