@import "../../styles.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: white;
  .hiddenimg {
    height: 0;
    width: 0;
  }
  h1 {
    font-size: 4vw;
    font-family: "Life Savers", cursive;
    color: $titleColor;
    font-weight: bold;
  }
  img {
    height: 80%;
  }
  #easteregg {
    height: 100%;
    align-items: center;
  }

  .connexion-link {
    cursor: pointer;
  }
}

#easteregg:hover .hiddenimg {
  /* Stay in place */
  transition: 10s;
  z-index: 99; /* Sit on top */
  height: 100vh;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  vertical-align: center;
  margin: auto;
  transform: rotate(5turn);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  background-color: white;
  margin-top: 5px;

  li {
    width: 100%;
    text-align: center;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    transition: 500ms;
    font-size: 2.5vw;
    background-color: $backgroundColor;
    color: white;
    cursor: pointer;
  }
  li:hover {
    transition: 500ms;
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
  }
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    .close-modal {
      text-align: right;
      cursor: pointer;
    }
    .modal-content2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .navbar-container {
    li {
      font-size: 12px;
    }
  }
}
