@import "../../styles.scss";

.objectCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .objectCard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 30px;
    width: 40%;
    min-width: 500px;
    background-color: $backgroundColor;
    border-radius: 8px;
    .objectCard-image {
      width: 50%;
    }
    div img {
      width: 90%;
      margin: 10px;
      border-radius: 8px;
    }
    .objectCard-info {
      background-color: white;
      display: flex;
      flex-direction: column;
      margin: 13px;
      width: 50%;
      border-radius: 8px;
      height: 222px;

      div h2 {
        font-size: 20px;
        margin: 6px;
      }
      div a {
        margin: 6px;
      }
    }
    .objectCard-button {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10px;
      button {
        width: 40%;
        padding: 5px;
        border: none;
        font-size: 18px;
      }
      .yes-button {
        background-color: #91bd3a;
      }
      .yes-button p,
      .no-button p {
        font-size: 12px;
        margin: 0;
      }
      .no-button {
        background-color: #c72c41;
      }
    }
  }
}
.description {
  font-size: 14px;
  margin: 20px 6px;
  height: 80px;
  overflow-y: scroll;
}

.headHeader {
  margin: 0 auto;
  width: 60%;
  h2 {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin: 5px 0;
  }
  p {
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
  }
}
