<div class="footer">
  <ul class="containerFooter">
    <li class="logosite">
      <img [src]="headerPic" alt="filthy dog" />
    </li>
    <li class="questions">
      <ul>
        <a href="#"><li>About US</li></a>
        <a href="#"><li>Whaaaaaaaaaatttttt ?</li></a>
      </ul>
    </li>
    <li class="socialNetwork">
      <p>Aller check les resaux de la Wild :</p>
      <ul>
        <a href="https://www.facebook.com/WildCodeSchool/">
          <li>
            <img [src]="fcb" alt="facebook" />
          </li>
        </a>
        <a href="https://twitter.com/wildcodeschool">
          <li>
            <img [src]="insta" alt="instagram" />
          </li>
        </a>
        <a href="https://www.instagram.com/wildcodeschoolofficial/">
          <li>
            <img [src]="twitter" alt="twitter" />
          </li>
        </a>
      </ul>
    </li>
  </ul>
</div>
