<div class="objectCard">
  <div *ngFor="let gift of gift" class="objectCard-container">
    <div class="objectCard-image">
      <img [src]="gift.img" alt="gift" />
    </div>
    <div class="objectCard-info">
      <div>
        <h2>{{ gift.title }}</h2>
        <p>{{ gift.description }}</p>
        <a>{{ gift.link }}</a>
      </div>
      <div class="objectCard-button">
        <button class="yes-button">{{ gift.yes_input }}</button>
        <button class="no-button">{{ gift.no_input }}</button>
      </div>
    </div>
  </div>
</div>
