<div class="objectCard">
  <div *ngFor="let pokemon of pokemon" class="objectCard-container">
    <div class="objectCard-image">
      <img [src]="pokemon.image" alt="gift" />
    </div>
    <div class="objectCard-info">
      <div>
        <h2>{{ pokemon.name }}</h2>
        <p>{{ pokemon.description }}</p>
      </div>
      <div class="objectCard-button">
        <button class="yes-button">
          <p>4</p>
          <p>Oui c'est de la merde !</p>
        </button>
        <button class="no-button">
          <p>5</p>
          <p>Non tu as le seum ultime !</p>
        </button>
      </div>
    </div>
  </div>
</div>
